
html, body { height: 100%; }

body{
    font-family: 'Nunito', sans-serif;
    color: #4a5568;
}

$current-weather-container-height: auto;
$temp-title-lineheight: 110px;
$title-line-height: 68px;
$temp-col-font-size:2.9em;
$header-title: 4em;
